<!-- / menu -->
  <!-- Start slider -->
  <section id="aa-slider">
    <div class="aa-slider-area">
      <div id="sequence" class="seq">
        <div class="seq-screen">
          <ul class="seq-canvas">
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="slider1.jpg" alt="Men slide img" />
              </div>
              <div class="seq-title">
               <span data-seq>Tiết kiệm tới 70%</span>
                <h2 data-seq>Bộ sưu tập Nam</h2>
                <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">Mua ngay</a>
              </div>
            </li>
            
            <div>{{this.mess}}</div>
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="slider2.jpg" alt="Women Jeans slide img" />
              </div>
              <div class="seq-title">
                <span data-seq>Tiết kiệm tới 70%</span>
                <h2 data-seq>Bộ Sưu Tập Jeans</h2>
                <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">Mua ngay</a>
              </div>
            </li>
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="slider1.jpg" alt="Male Female slide img" />
              </div>
              <div class="seq-title">
                <span data-seq>Tiết kiệm tới 50%</span>
                <h2 data-seq>Bộ Sưu Tập Tốt Nhất</h2>
                <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">Mua ngay</a>
              </div>
            </li>
          </ul>
        </div>
        <!-- slider navigation btn -->
        <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
          <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
          <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
        </fieldset>
      </div>
    </div>
  </section>
  <!-- / slider -->
  <!-- Products section -->
  <section id="aa-product">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-product-area">
              <div class="aa-product-inner">
                <!-- start prduct navigation -->
                 <ul class="nav nav-tabs aa-products-tab">
                    <li class="active"><a href="#men" data-toggle="tab">Phái Nam</a></li>
                    <li><a href="#women" data-toggle="tab">Phái Nữ</a></li>
                    <li><a href="#sports" data-toggle="tab">Thể Thao</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- Start men product category -->
                    <div class="tab-pane fade in active" id="men">
                      <ul class="aa-product-catg">
                        {{#each list_product_man}}
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="product-detail-{{this._id}}"><img src="https://murmuring-refuge-68667.herokuapp.com/{{this.Image}}" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào Giỏ Hàng</a>
                              <figcaption>
                              <h4 class="aa-product-title"><a href="#">{{this.Name}}</a></h4>
                              <span class="aa-product-price">${{this.Discount}}</span><span class="aa-product-price"><del>${{this.Cost}}</del></span>
                            </figcaption>
                          </figure>
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        {{/each}}
                      </ul>
                      <a class="aa-browse-btn" href="all-product-man">Tất Cả Sản Phẩm<span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    <!-- / men product category -->

                    <!-- start women product category -->
                    <div class="tab-pane fade" id="women">
                      <ul class="aa-product-catg">
                        <!-- start single product item -->
                        {{#each list_product_women}}
                        {{this.Name}}
                        <li>
                          <figure>
                            <a class="aa-product-img" href="product-detail-{{this._id}}"><img src="https://murmuring-refuge-68667.herokuapp.com/{{this.Image}}" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào Giỏ Hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="#">{{this.Name}}</a></h4>
                              <span class="aa-product-price">${{this.Discount}}</span><span class="aa-product-price"><del>${{this.Cost}}</del></span>
                            </figcaption>
                          </figure>
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        {{/each}}
                      </ul>
                      <a class="aa-browse-btn" href="all-product-women">Tất Cả Sản Phẩm<span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    <!-- / women product category -->

                    <!-- start sports product category -->
                    <div class="tab-pane fade" id="sports">
                      <ul class="aa-product-catg">
                        <!-- start single product item -->
                        {{#each list_product_sport}}
                        <li>
                          <figure>
                            <a class="aa-product-img" href="product-detail-{{this._id}}"><img src="https://murmuring-refuge-68667.herokuapp.com/{{this.Image}}" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào Giỏ Hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="#">{{this.Name}}</a></h4>
                              <span class="aa-product-price">${{this.Discount}}</span><span class="aa-product-price"><del>${{this.Cost}}</del></span>
                            </figcaption>
                          </figure>
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        {{/each}}
                      </ul>
                    </div>
                    <!-- / sports product category -->
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Products section -->
  <!-- banner section -->
  <section id="aa-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-banner-area">
            <a href="#"><img src="fashion-banner.jpg" alt="fashion banner img"></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- popular section -->
  <section id="aa-popular-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-popular-category-area">
              <!-- start prduct navigation -->
             <ul class="nav nav-tabs aa-products-tab">
                <li class="active"><a href="#popular" data-toggle="tab">Phổ Biến</a></li>
                <li><a href="#featured" data-toggle="tab">Đặc Sắc</a></li>
                <li><a href="#latest" data-toggle="tab">Mới Nhất</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Start men popular category -->
                <div class="tab-pane fade in active" id="popular">
                  <ul class="aa-product-catg aa-popular-slider">
                    <!-- start single product item -->
                    {{#each list_product_popular}}
                    <li>
                      <figure>
                        <a class="aa-product-img" href="product-detail-{{this._id}}"><img src="https://murmuring-refuge-68667.herokuapp.com/{{this.Image}}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào Giỏ Hàng</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="#">{{this.Name}}</a></h4>
                          <span class="aa-product-price">{{this.Discount}}</span><span class="aa-product-price"><del>{{this.Cost}}</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                    {{/each}}
                  </ul>
                  <a class="aa-browse-btn" href="all-product-popular">Tất Cả Sản Phẩm<span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / popular product category -->

                <!-- start featured product category -->
                <div class="tab-pane fade" id="featured">
                 <ul class="aa-product-catg aa-featured-slider">
                    <!-- start single product item -->
                    {{#each list_product_feature}}
                    <li>
                      <figure>
                        <a class="aa-product-img" href="product-detail-{{this._id}}"><img src="https://murmuring-refuge-68667.herokuapp.com/{{this.Image}}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào Giỏ Hàng</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="#">{{this.Name}}</a></h4>
                          <span class="aa-product-price">${{this.Discount}}</span><span class="aa-product-price"><del>${{this.Cost}}</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                      {{/each}}
                    </li>
                  </ul>
                  <a class="aa-browse-btn" href="all-product-feature">Tất Cả Sản Phẩm<span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / featured product category -->

                <!-- start latest product category -->
                <div class="tab-pane fade" id="latest">
                  <ul class="aa-product-catg aa-latest-slider">
                    <!-- start single product item -->
                    {{#each list_product_new}}
                    <li>
                      <figure>
                        <a class="aa-product-img" href="product-detail-{{this._id}}"><img src="https://murmuring-refuge-68667.herokuapp.com/{{this.Image}}" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào Giỏ Hàng</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="#">{{this.Name}}</a></h4>
                          <span class="aa-product-price">${{this.Discount}}</span><span class="aa-product-price"><del>${{this.Cost}}</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                    {{/each}}
                     <!-- start single product item -->
                  </ul>
                   <a class="aa-browse-btn" href="all-product-new">Tất Cả Sản Phẩm<span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / latest product category -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / popular section -->

  <!-- Support section -->
  <section id="aa-support">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-support-area">
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-truck"></span>
                <h4>Miễn phí vận chuyển</h4>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-clock-o"></span>
                <h4>Hoàn tiền trong 30 ngày</h4>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-phone"></span>
                <h4>Hỗ trợ 24/7</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Support section -->
