<!-- catg header banner section -->
  <section id="aa-catg-head-banner">
   <img src="/images/fashion-header-bg-8.jpg" alt="fashion img">
   <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Thời Trang</h2>
        <ol class="breadcrumb">
          <li><a href="/">Trang Chủ</a></li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->
  <!-- product category -->
  <section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content">
            <div class="aa-product-catg-head">
              <div class="aa-product-catg-head-left">
                <form action="" class="aa-show-form">
                  <label for="">Hiển Thị</label>
                  <select name="Show" id="Show">
                    <option value="0" selected="Tất cả">Tất cả</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                  </select>
                </form>
              </div>
              <div class="aa-product-catg-head-right">
                <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
              </div>
            </div>
            <div class="aa-product-catg-body">
              <h3 class="text-center text-font-color-pink">{{this.mess}}</h3>
              <ul class="aa-product-catg">
                {{#each list_all_product}}
                <!-- start single product item -->
                <li id={{@index}}>
                  <figure>
                    <a class="aa-product-img" href="/product-detail-{{this._id}}"><img src="https://khtn-it-cq2016-shopping-admin.herokuapp.com/{{this.Image}}" alt="polo shirt img"></a>
                    <form  action='/addcart-{{this._id}}' method="POST" class="form-inline">
                      <span class="aa-add-card-btn fa fa-shopping-cart"><input type="submit" class="background-color-black border-none" value="Thêm Vào Giỏ Hàng"></span>
                    </form>
                    <figcaption>
                      <h4 class="aa-product-title"><a href="#">{{this.Name}}</a></h4>
                      <span class="aa-product-price">${{this.Discount}}</span><span class="aa-product-price"><del>${{this.Cost}}</del></span>
                      <p class="aa-product-descrip">Sản phẩm chất lượng, giá cả hợp lí, phong cách sang trọng.</p>
                    </figcaption>
                  </figure>
                  <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                  </div>
                </li>
                {{/each}}
              </ul>
              <!-- quick view modal -->
              <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <div class="row">
                        <!-- Modal view slider -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="aa-product-view-slider">
                            <div class="simpleLens-gallery-container" id="demo-1">
                              <div class="simpleLens-container">
                                  <div class="simpleLens-big-image-container">
                                      <a class="simpleLens-lens-image" data-lens-image="img/view-slider/large/polo-shirt-1.png">
                                          <img src="/images/polo-shirt-1.png" class="simpleLens-big-image">
                                      </a>
                                  </div>
                              </div>
                              <div class="simpleLens-thumbnails-container">
                                  <a href="#" class="simpleLens-thumbnail-wrapper"
                                     data-lens-image="img/view-slider/large/polo-shirt-1.png"
                                     data-big-image="img/view-slider/medium/polo-shirt-1.png">
                                      <img src="/images/polo-shirt-1.png">
                                  </a>
                                  <a href="#" class="simpleLens-thumbnail-wrapper"
                                     data-lens-image="img/view-slider/large/polo-shirt-3.png"
                                     data-big-image="img/view-slider/medium/polo-shirt-3.png">
                                      <img src="/images/polo-shirt-3.png">
                                  </a>

                                  <a href="#" class="simpleLens-thumbnail-wrapper"
                                     data-lens-image="img/view-slider/large/polo-shirt-4.png"
                                     data-big-image="img/view-slider/medium/polo-shirt-4.png">
                                      <img src="/images/polo-shirt-4.png">
                                  </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal view content -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="aa-product-view-content">
                            <h3>T-Shirt</h3>
                            <div class="aa-price-block">
                              <span class="aa-product-view-price">$34.99</span>
                              <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                            <h4>Size</h4>
                            <div class="aa-prod-view-size">
                              <a href="#">S</a>
                              <a href="#">M</a>
                              <a href="#">L</a>
                              <a href="#">XL</a>
                            </div>
                            <div class="aa-prod-quantity">
                              <form action="">
                                <select name="" id="">
                                  <option value="0" selected="1">1</option>
                                  <option value="1">2</option>
                                  <option value="2">3</option>
                                  <option value="3">4</option>
                                  <option value="4">5</option>
                                  <option value="5">6</option>
                                </select>
                              </form>
                              <p class="aa-prod-category">
                                Loại: <a href="#">Polo T-Shirt</a>
                              </p>
                            </div>
                            <div class="aa-prod-view-bottom">
                              <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                              <a href="#" class="aa-add-to-cart-btn">View Details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div>
              <!-- / quick view modal -->
            </div>
            <!-- {{#ifCond count "<" 8}}
              <h3 class="text-center color-red">Trang Cuối</h3>
            {{/ifCond}} -->
            <div class="aa-product-catg-pagination">
              <nav>
                <ul class="pagination">
                  <li>
                    <a id="prev" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li><a id="page1" href= "/all-product/viewpage=1{{searchObjectString}}">1</a></li>
                  <li><a id="page2" href= "/all-product/viewpage=2{{searchObjectString}}">2</a></li>
                  <li><a id="page3" href= "/all-product/viewpage=3{{searchObjectString}}">3</a></li>
                  <li>
                    <a id="next" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
          <aside class="aa-sidebar">
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <form action="/all-product/viewpage=1" method="get">
                <h3>Giới tính</h3>
                <ul class="aa-catg-nav">
                  <li>Phái Nam <input type="radio" name="Gender" value="Man"></li>
                  <li>Phái Nữ <input type="radio" name="Gender" value="Women"></li>
                  <li>Nam và Nữ <input type="radio" name="Gender" value="Women and Man"></li>
                </ul>
              </div>
              <!-- single sidebar -->
              <div class="aa-sidebar-widget">
                <h3>Mua Theo Giá</h3>
                <!-- price range -->
                <div class="aa-sort-form">
                  <select id="priceSelect" name="Price">
                    <option value="0" selected="none">none</option>
                    <option value="1">&le;10$</option>
                    <option value="2">10$-30$</option>
                    <option value="3">30$-60$</option>
                    <option value="4">&ge;60$</option>
                  </select>
                </div>

              </div>
              <div class="aa-sidebar-widget">
                <h3>Ưa chuộng</h3>
                <!-- price range -->
                <div class="aa-sort-form">
                  <select id="productTypeSelect" name="Product_Group">
                    <option value="0" selected="none">none</option>
                    <option value="New">Sản phẩm mới</option>
                    <option value="Popular">Phổ biến</option>
                    <option value="Feature">Đặc sắc</option>
                  </select>
                </div>
              </div>
              <div class="aa-sidebar-widget">
                <h3>Phân loại</h3>
                <!-- price range -->
                <div class="aa-sort-form">
                  <select id="priceSelect" name="Category">
                    <option value="0" selected="none">none</option>
                    <option value="T-Shirt">Áo thun</option>
                    <option value="Shirt">Áo sơ mi</option>
                    <option value="Dress">Váy đầm</option>
                    <option value="Sport">Đồ thể thao</option>
                    <option value="Skirt">Đầm ngắn</option>
                  </select>
                </div>

              </div>
              <!-- single sidebar -->
                  <div class="aa-sidebar-widget">
                    <h3>Mua Theo Màu</h3>
                    <div style="text-align:center">
                    <div class="aa-color-tag">
                      <a class="aa-color-green" href="#"></a>
                      <a class="aa-color-yellow" href="#"></a>
                      <a class="aa-color-pink" href="#"></a>
                      <a class="aa-color-purple" href="#"></a>
                      <a class="aa-color-blue" href="#"></a>
                      <a class="aa-color-orange" href="#"></a>
                      <a class="aa-color-gray" href="#"></a>
                      <a class="aa-color-black" href="#"></a>
                      <a class="aa-color-white" href="#"></a>
                      <a class="aa-color-cyan" href="#"></a>
                      <a class="aa-color-olive" href="#"></a>
                      <a class="aa-color-orchid" href="#"></a>
                    </div>
                    <button class="aa-filter-btn" type="submit">Lọc</button>
                  </div>
                </div>
              </form>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Lượt Xem Gần Đây</h3>
              <div class="aa-recently-views">
                <ul>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="/images/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>
                  </li>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="/images/woman-small-1.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>
                  </li>
                   <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="/images/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Sản Phẩm Hàng Đầu</h3>
              <div class="aa-recently-views">
                <ul>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="/images/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>
                  </li>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="/images/woman-small-1.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>
                  </li>
                   <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="/images/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="filter.js"></script>
  </section>
  <!-- / product category -->


  <!-- <script>
	var page1 = parseInt($('#page1').html());
    var page2 = page1 + 1;
    var page3 = page1 + 2;
	$('#page2').onclick(function () {
    console.log({{count}})
		if ({{count}} == 8) {
			$('#page2').attr("href", "/all-product/viewpage=" + page2 + {{searchObjectString}});
			$('#page1').removeClass('active');
			$('#page2').addClass('active');
			$('#page3').removeClass('active');
			$('#page1').html(page1);
			$('#page2').html(page2);
			$('#page3').html(page3);
			console.log(page3);
		}
	});
	$('#page3').onclick(function () {
		if ({{count}} == 8) {
			$('#page3').attr("href", "/all-product/viewpage=" + page3  + {{searchObjectString}});
			$('#page1').removeClass('active');
			$('#page2').removeClass('active');
			$('#page3').addClass('active');
			$('#page1').html(page1);
			$('#page2').html(page2);
			$('#page3').html(page3);
		}
	});
	$('#next').onclick(function () {
		if ({{count}} == 8) {
			page1 += 1;
			page2 += 1;
			page3 += 1;
			$('#next').attr("href", "/all-product/viewpage=" + page1 + {{searchObjectString}});
			$('#page1').addClass('active');
			$('#page2').removeClass('active');
			$('#page3').removeClass('active');
			$('#page1').html(page1);
			$('#page2').html(page2);
			$('#page3').html(page3);
		}
	});
	$('#prev').onclick(function () {
		if (page1 > 1) {
			page1 -= 1;
			page2 -= 1;
			page3 -= 1;
			$('#prev').attr("href", "/all-product/viewpage=" + page1 + {{searchObjectString}});
			$('#page1').addClass('active');
			$('#page2').removeClass('active');
			$('#page3').removeClass('active');
			$('#page1').html(page1);
			$('#page2').html(page2);
			$('#page3').html(page3);
		}
	});
	$('#page2').html(page2);
	$('#page3').html(page3);
</script> -->
