<!-- product category -->
  <section id="aa-product-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-product-details-area">

            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <div class="aa-product-view-slider">
                    <div id="demo-1" class="simpleLens-gallery-container">
                      <div class="simpleLens-container">
                        <div class="simpleLens-big-image-container">
                          <img src="https://khtn-it-cq2016-shopping-admin.herokuapp.com/{{product_detail.Image}}" class="simpleLens-big-image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal view content -->
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="aa-product-view-content">
                    <h3>{{product_detail.Name}}</h3>
                    <div class="aa-price-block">
                      <span class="aa-product-view-price">${{product_detail.Cost}}</span>
                      <p class="aa-product-avilability">Tình trạng:  <span>Còn sản phẩm</span></p>
                    </div>
                    <h4>{{product_detail.Size}}</h4>
                    <div class="aa-prod-view-size">
                      <a href="#">S</a>
                      <a href="#">M</a>
                      <a href="#">L</a>
                      <a href="#">XL</a>
                    </div>
                    <h4>{{product_detail.Color}}</h4>
                    <div class="aa-color-tag">
                      <a href="#" class="aa-color-green"></a>
                      <a href="#" class="aa-color-yellow"></a>
                      <a href="#" class="aa-color-pink"></a>
                      <a href="#" class="aa-color-black"></a>
                      <a href="#" class="aa-color-white"></a>
                    </div>
                    <form action='/addcart-{{product_detail._id}}' method="POST">
                      <div class="aa-prod-quantity">
                        <input type="text" class="width-30" value="1" name="Amount">
                        <p class="aa-prod-category">
                          Thể Loại: <a href="#">{{product_detail.Category}}</a>
                        </p>
                      </div>
                      <div class="aa-prod-view-bottom">
                          <input type="submit" class="aa-add-to-cart-btn" value="Thêm Vào Giỏ Hàng">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="aa-product-details-bottom">
              <ul class="nav nav-tabs" id="myTab2">
                <li><a href="#description" data-toggle="tab">Mô Tả</a></li>
                <li><a href="#review" data-toggle="tab">Đánh Giá</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="description">
                  <p>Mô tả thông tin sản phẩm</p>
                  <ul>
                    <li>{{product_detail.Describe}}</li>
                  </ul>
                </div>
                <div class="tab-pane fade " id="review">
                 <div class="aa-product-review-area">
                   <h4>{{related_comment.length}} đánh giá cho T-Shirt</h4>
                   <ul class="aa-review-nav">
                     <li>
                        <div class="media">
                          <div class="media-body">
                            <div class="aa-product-rating">
                              {{#each starList}}
                                <span class="fa fa-star{{this}}"></span>
                              {{/each}}
                            </div>
                            <h4 class="media-heading"><strong>{{#each related_comment}}
                              {{this.Username}}
                            </strong> - <span>{{this.Time}}</span></h4>
                            <p>{{this.Text}}</p>
                          </div>
                        </div>
                      </li>
                      {{/each}}
                   </ul>
                   <h4>Thêm Đánh Giá</h4>
                   <!-- review form -->
                   <form action="/add-review" class="aa-review-form" method="post">
                     <div class="aa-your-rating">
                       <p>Đánh giá của bạn</p>
                       <span class="fa fa-star-o"><input type="radio" name="starValue" value="1" /></span>
                       <span class="fa fa-star-o"><input type="radio" name="starValue" value="2" /></span>
                       <span class="fa fa-star-o"><input type="radio" name="starValue" value="3" /></span>
                       <span class="fa fa-star-o"><input type="radio" name="starValue" value="4" /></span>
                       <span class="fa fa-star-o"><input type="radio" name="starValue" value="5" /></span>
                     </div>
                      <div class="form-group">
                        <label for="message">Đánh giá của bạn</label>
                        <textarea class="form-control" rows="3" id="message" name="Message"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="name">Họ tên</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" name="Name">
                      </div>
                      <input type="hidden" name="Product" value="{{ product_detail._id }}">
                      <button type="submit" class="btn btn-default aa-review-submit">Gửi</button>
                   </form>
                 </div>
                </div>
              </div>
            </div>
            <!-- Related product -->
            <div class="aa-product-related-item">
              <h3>Sản Phẩm Liên Quan</h3>
              <ul class="aa-product-catg aa-related-item-slider">
                <!-- start single product item -->
                {{#each all_product_related}}
                <li>
                  <figure>
                    <a class="aa-product-img" href="product-detail-{{this._id}}"><img src="https://khtn-it-cq2016-shopping-admin.herokuapp.com/{{this.Image}}" alt="polo shirt img"></a>
                    <form  action='/addcart-{{this._id}}' method="POST" class="form-inline">
                      <span class="aa-add-card-btn fa fa-shopping-cart"><input type="submit" class="background-color-black border-none" value="Thêm Vào Giỏ Hàng"></span>
                    </form>
                     <figcaption>
                      <h4 class="aa-product-title"><a href="#">{{this.Name}}</a></h4>
                      <span class="aa-product-price">${{this.Discount}}</span><span class="aa-product-price"><del>${{this.Cost}}</del></span>
                    </figcaption>
                  </figure>
                  <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                  </div>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / product category -->
