<!-- catg header banner section -->
  <section id="aa-catg-head-banner">
   <img src="fashion-header-bg-8.jpg" alt="fashion img">
   <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Trang giỏ hàng</h2>
        <ol class="breadcrumb">
          <li><a href="/">Trang chủ</a></li>
          <li class="active">Giỏ hàng</li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->

 <!-- Cart view section -->
 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table">
             <form action="">
               <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Remove</th>
                        <th>Image</th>
                        <th>Tên Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each list_product}}
                        <tr>
                          <form action="/product-cart-delete-{{this._id}}" method="POST">
                            <td><button class="fa fa-close fa-1x" type="submit"></button></td>
                          </form>
                          <td><a href="#"><img src="https://khtn-it-cq2016-shopping-admin.herokuapp.com/{{this.Image}}" alt="img"></a></td>
                          <td><a class="aa-cart-title" href="#">{{this.Name}}</a></td>
                          <td>${{this.Cost}}</td>
                          <td><input class="aa-cart-quantity" type="number" value="{{this.Amount}}" readonly></td>
                          <td>${{this.Total}}</td>
                        </tr>
                      {{/each}}
                      
                      </tbody>
                  </table>
                </div>
             </form>
             <!-- Cart Total view -->
             <div class="cart-view-total">
               <h4>Tổng</h4>
               <table class="aa-totals-table">
                 <tbody>
                   <tr>
                     <th>Tổng phụ</th>
                     <td>${{total}}</td>
                   </tr>
                   <tr>
                     <th>Tổng</th>
                     <td>${{total}}</td>
                   </tr>
                 </tbody>
               </table>
               <a href="/order" class="aa-cart-view-btn">Mua</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->
